
.t {
	display: inline-block;
	text-align: center;
	width: 11vw;
	color: white;
	margin-left: -0.4vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-size: 1vw;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

#left {
	padding-left: 7.6vw
}

#right {
	padding-right: 7.6vw
}

#top {
	background-color: #001489;
}

#image {
	margin-top: 3vw;
    padding-left: 10vw;
	
}

.pic {
	vertical-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.pic {
	display: inline-block;
}


.y {
	text-align: left;
	display: inline-block
}

.title {
	display: inline-block;
	text-align: center;
	align-content: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}

.icons {
	background-color: whitesmoke;
}

#lefter {
	padding-left: 22vw
}

	
	
